vti_encoding:SR|utf8-nl
vti_restartmanual:IX|0
vti_textextensions:SW|.txt.
vti_webservertype:SR|diskweb
vti_defaultlanguage:SR|cs
vti_approvalapproved:SR|Schváleno
vti_approvaldenied:SR|Odepřeno
vti_timecreated:TR|18 Dec 2004 08:06:54 -0000
vti_oldestcompatibleversion:SR|2.0.0.0
vti_defaultcharset:SR|windows-1250
vti_navbuttonuplabel:SR|Nahoru
vti_htmlextensions:SW|.htm.html.asp.aspx.shtml.stm.htt.htx.alx.asa.hta.htc.jsp.cfm.odc.phtml.php.php2.php3.php4.php5.dwt.
vti_disableautoimgsizeexts:SX|.asp
vti_extenderversion:SR|6.0.2.5516
vti_publishmetainfokeys:VR|vti_assignedto vti_approvallevel vti_categories vti_description
vti_ignorekeyboard:IR|0
vti_navbuttonprevlabel:SR|Zpět
vti_navbuttonnextlabel:SR|Další
vti_copytimestamp_file\:///C\:/Documents and Settings/Honza/Dokumenty/Klávesnice/CZRus/Publishable Dokumentace:TR|19 Dec 2004 11:05:31 -0000
vti_approvallevels:VR|Schváleno Odepřeno Čeká\\ na\\ vyřízení
vti_showhiddenpages:IR|1
vti_navbuttonhomelabel:SR|Domů
vti_dependenciesood:IR|1
vti_structto_localhost\\c\:\\documents and settings\\honza\\dokumenty\\klávesnice\\czrus\\publishable dokumentace/c\:/documents and settings/honza/dokumenty/klávesnice/czrus/publishable dokumentace:TR|19 Dec 2004 11:04:03 -0000
vti_featurelist:VX|vti_ACAll vti_ServiceMarkUrlDirBrowse vti_ServiceMarkUrlDirExec vti_ServiceMarkUrlDirScript vti_ACIPAddresses vti_ServerEmailTransport vti_ServerIndexServer vti_ServerASP vti_ServerCollab vti_ServerWebParts vti_RulesScript vti_TimedDocEvents
vti_categories:VR|Cestování Vyúčtování\\ výdajů Zaměstnání Konkurence Cíle\\ a\\ plány Nápady Různé Čekající VIP Probíhá Plánování Plán
